@page "/"
@inject ITipoComidaService tipoComidaService
@inject SweetAlertService Swal;

<h3>Contenido para los tipos de comida</h3>
<input class="form-control mb-3" type="text" placeholder="Filtro" @oninput="ActualizarFiltro" />
@if (listaTiposComida == null)
{
    <p>Cargando...</p>
}
else
{
    <div class="frame-table">
        <table class="table">
            <thead>
                <tr>
                    <th @onclick="(e) => {bolMain = true;OrderList(true);}" class="hov-col">
                        Id
                        @if (bolMain && bolId)
                        {
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"><path fill="currentColor" d="M3 0v5H1l3.03 3L7 5H5V0H3z" /></svg>
                            </span>
                        }
                        @if (bolMain && !bolId)
                        {
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"><path fill="currentColor" d="M3.97 0L1 3h2v5h2V3h2L3.97 0z" /></svg>
                            </span>
                        }
                        @if (!bolMain)
                        {
                            <span class="no-visible">
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"><path fill="currentColor" d="M3.97 0L1 3h2v5h2V3h2L3.97 0z" /></svg>
                            </span>
                        }
                    </th>
                    <th @onclick="(e) => {bolMain = false;OrderList(true);}" class="hov-col">
                        Tipo de comida
                        @if (!bolMain && bolTipo)
                        {
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"><path fill="currentColor" d="M3 0v5H1l3.03 3L7 5H5V0H3z" /></svg>
                            </span>
                        }
                        @if (!bolMain && !bolTipo)
                        {
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"><path fill="currentColor" d="M3.97 0L1 3h2v5h2V3h2L3.97 0z" /></svg>
                            </span>
                        }
                        @if (bolMain)
                        {
                            <span class="no-visible">
                                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8"><path fill="currentColor" d="M3.97 0L1 3h2v5h2V3h2L3.97 0z" /></svg>
                            </span>
                        }
                    </th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var tipoComidax in listaTiposComida.Where(tc => tc.TipoComida != null && tc.TipoComida.Contains(filtro, StringComparison.OrdinalIgnoreCase)))
                {
                    <tr>
                        <td>@tipoComidax.TipoComidaId</td>
                        <td>@tipoComidax.TipoComida</td>
                        <td>
                            <span @onclick="(e) => EditTipoComida(tipoComidax)" class="table-editar">Editar</span>,
                            <span @onclick="(e) => SwalDelete(tipoComidax)" class="table-eliminar">Eliminar</span>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
}

<EditForm Model="tipoComidum">
    <form>
        <div class="mb-3 mt-3">
            <label for="nombre" class="form-label">Tipo de comida:</label>
            <input class="form-control col-sm-4" type="text" @bind="tipoComidum.TipoComida" />
        </div>
        <input type="button" class="btn btn-primary" value="Guardar" @onclick="SaveTipoComida" />
        <input type="button" class="btn btn-secondary" value="Cancelar" @onclick="reRound" />
    </form>
</EditForm>

<TipoComidaTable listaTiposComida="listaTiposComida" />

@code {
    private string? filtro = "";
    private void ActualizarFiltro(ChangeEventArgs e)
    {
        if(e.Value != null)
        {
            filtro = e.Value.ToString();
        }
    }
    private TipoComidum tipoComidum = new();
    protected async Task SaveTipoComida()
    {
        if (tipoComidum.TipoComida != null)
        {
            await tipoComidaService.SaveOneComidum(tipoComidum);
            await SwalInsert(tipoComidum);
            tipoComidum = new();
            await reRound();
        }
        else
        {
            await SwalTipoComidaVacio();
        }
    }

    protected async Task DeleteTipoComida(int i)
    {
        await tipoComidaService.DeleteOneComidum(i);
        await reRound();
    }

    protected async Task ChangeTipoComida(TipoComidum TCduM)
    {
        if (tipoComidum.TipoComida != null)
        {
            await SwalInsert(TCduM);
        }
        else
        {
            await SwalTipoComidaVacio();
        }
        await reRound();
    }

    public IEnumerable<TipoComidum>? listaTiposComida { get; set; }
    public string? Message { get; set; }
    public bool bolMain = true;
    public bool bolId = true;
    public bool bolTipo = true;
    protected override async Task OnInitializedAsync()
    {
        await reRound();
    }

    private void OrderList(bool flag)
    {
        if (listaTiposComida == null)
        {
            return;
        }

        if (bolMain)
        {
            if (flag)
            {
                bolId = !bolId;
            }
            listaTiposComida = bolId
                ? listaTiposComida.OrderBy(tc => tc.TipoComidaId).ToList()
                : listaTiposComida.OrderByDescending(tc => tc.TipoComidaId).ToList();  
        }
        else
        {
            if (flag)
            {
                bolTipo = !bolTipo;
            }
            listaTiposComida = bolTipo
                ? listaTiposComida.OrderBy(tc => tc.TipoComida).ToList()
                : listaTiposComida.OrderByDescending(tc => tc.TipoComida).ToList();

        }
    }

    protected async Task reRound()
    {
        try
        {
            listaTiposComida = await tipoComidaService.GetAllTiposoComidum();
            OrderList(false);
        }
        catch (Exception e)
        {
            Message = e.Message;
        }
    }

    protected async Task SwalDelete(TipoComidum TCduM)
    {

        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Deseas borrar el tipo de comida " + TCduM.TipoComida + "?",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ShowConfirmButton = false,
                ShowDenyButton = true,
                DenyButtonText = "Si, Borrar!",
                ConfirmButtonText = "Si, Borrar!",
                CancelButtonText = "No, Conservar"
            });

        if (!string.IsNullOrEmpty(result.Value))
        {
            await DeleteTipoComida(TCduM.TipoComidaId);
            await Swal.FireAsync(
                "Borrado",
                "El tipo de comida " + TCduM.TipoComida + " ha sido eliminado",
                SweetAlertIcon.Success
            );
        }
        else if (result.Dismiss == DismissReason.Cancel)
        {
            await Swal.FireAsync(
              "Cancelado",
              "La elimicacion del tipo de comida " + TCduM.TipoComida + " fue cancelada",
              SweetAlertIcon.Error
              );
        }
    }

    protected async Task SwalInsert(TipoComidum TCduM)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Se agrego el nuevo tipo de comida " + TCduM.TipoComida + " con exito",
                Icon = SweetAlertIcon.Success,
                ShowConfirmButton = false,
                Timer = 2500,
                Position = SweetAlertPosition.BottomRight
            }
        );
    }

    protected async Task SwalTipoComidaVacio()
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Campo Vacio por favor ingresa un tipo de comida",
                Icon = SweetAlertIcon.Warning
            }
        );
    }

    protected async Task EditTipoComida(TipoComidum TCduM)
    {
        SweetAlertResult result = await Swal.FireAsync(new SweetAlertOptions
            {
                Title = "Editando el tipo de comida " + TCduM.TipoComida,
                Icon = SweetAlertIcon.Info,
                Input = SweetAlertInputType.Text,
                InputLabel = "Escribe el nuevo tipo",
                InputPlaceholder = "Ingresa...",
                InputValue = TCduM.TipoComida
            }
        );

        if (!string.IsNullOrEmpty(result.Value))
        {
            TCduM.TipoComida = result.Value;
            await tipoComidaService.SaveOneComidum(TCduM);
            await reRound();
            await Swal.FireAsync(
            "Actualizado",
            "El tipo de comida ha sido cambiado a " + result.Value,
            SweetAlertIcon.Success
            );
        }
        else
        {
            if (!result.IsDismissed)
            {
                await SwalTipoComidaVacio();
            }
        }
    }
}